// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@import 'modals-vars';
@import 'modals-functions';
@import 'modals-mixins';

// Overlay
// -------
.modal-overlay {
  @if $modal-overlay-bg-fallback != $modal-overlay-bg {
    background: $modal-overlay-bg-fallback;
  }
  background: $modal-overlay-bg;
  padding: $modal-overlay-padding-y $modal-overlay-padding-x;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $modal-z-index;
}


// Center if browser supports flexbox (and user uses modernizr)
// ------------------------------------------------------------
@if $modal-center-y == true {
  body.flexbox {
    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.modal-wrap {
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: $modal-md-width;
  width: 100%;
}


// Base
// ----
.modal {
  background: $modal-bg;
  border: 1px solid $modal-border;
  border-radius: $modal-border-radius;
  @if $modal-box-shadow {
    box-shadow: $modal-box-shadow;
  }
  position: relative;
}

// Sizes
.modal-xs  { max-width: $modal-xs-width; }
.modal-sm  { max-width: $modal-sm-width; }
.modal-lg  { max-width: $modal-lg-width; }
.modal-xl  { max-width: $modal-xl-width; }
.modal-max { max-width: none; }

.modal-full {
  display: flex;
  overflow-y: auto;
  padding: $modal-overlay-padding-y $modal-overlay-padding-x;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > .modal {
    min-height: 100%;
    width: 100%;
  }
}


// Header
// ------
.modal-header {
  @include clearfix;
  border-bottom: 1px solid $modal-header-border;
  border-top-left-radius: $modal-border-radius;
  border-top-right-radius: $modal-border-radius;
  padding: $modal-header-padding-y $modal-header-padding-x;
}

@include mq($min: $screen-sm-min) {
  .modal-header {
    overflow: hidden;
    white-space: nowrap;
  }
}

.modal-header-actions {
  display: inline-block;
  margin-right: -100%;
  text-align: right;
  width: 100%;
}

.modal-title {
  display: inline-block;
  font-size: $modal-title-font-size;
  margin: 0;
  vertical-align: middle; // line up with .btns

  > a {
    color: inherit;
    text-decoration: none;
  }
}

.modal-close {
  background: none;
  border: 0;
  font-size: $modal-title-font-size;
  line-height: 1;
  float: right;
  opacity: $modal-close-opacity;
  margin: 0;
  padding: $modal-close-padding-y $modal-close-padding-x;
  transition: opacity $animate-fast ease-in-out;

  &:hover {
    opacity: 1;
  }

  .modal-header-actions & {
    display: inline-block;
    float: none;
    margin-left: $cushion-x-md;
  }
}


// Body
// ----
.modal-body {
  padding: $modal-body-padding-y $modal-body-padding-x;
}


// Footer
// ------
.modal-footer {
  @include clearfix;
  border-top: 1px solid $modal-footer-border;
  border-bottom-left-radius: $modal-border-radius;
  border-bottom-right-radius: $modal-border-radius;
  padding: $modal-footer-padding-y $modal-footer-padding-x;
}

.modal-footer-actions {
  @extend .modal-header-actions;
}


// States
// ------
// Primary
.modal-primary {
  @include modal-state($bg: $modal-primary-bg, $border: $modal-primary-border, $text: $modal-primary-text);
}

// Secondary
.modal-secondary {
  @include modal-state($bg: $modal-secondary-bg, $border: $modal-secondary-border, $text: $modal-secondary-text);
}

// Error
.modal-error {
  @include modal-state($bg: $modal-error-bg, $border: $modal-error-border, $text: $modal-error-text);
}

// Warning
.modal-warning {
  @include modal-state($bg: $modal-warning-bg, $border: $modal-warning-border, $text: $modal-warning-text);
}

// Success
.modal-success {
  @include modal-state($bg: $modal-success-bg, $border: $modal-success-border, $text: $modal-success-text);
}

// Info
.modal-info {
  @include modal-state($bg: $modal-info-bg, $border: $modal-info-border, $text: $modal-info-text);
}
